@using Web.ViewModels.Authentication
@model LoginViewModel

@{
    ViewData["Title"] = "Login Page";
    Layout = "_Layout.cshtml";
}
<form class="form form-validate" asp-action="Login">
    <div class="card contain-xs">
        <div class="card-head style-primary">
            <header>Log in</header>
        </div>
        <div class="card-body">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <input asp-for="LoginEmail" type="text" class="form-control" required/>
                <label asp-for="LoginEmail" class="text-bold text-caption"></label>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" required/>
                <label asp-for="Password" class="text-bold text-caption"></label>
            </div>
        </div>
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <div class="col-xs-6 text-left">
                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" asp-for="RememberMe">
                            <span><label asp-for="RememberMe" class="text-caption text-default-light"></label></span>
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary btn-raised" type="submit">Login</button>
                <a asp-action="SignUp" class="btn btn-raised btn-primary">Sign up</a>
            </div>
        </div>
    </div>
</form>
