@using Services
@using Web.ViewModels.Trip
@model FilterViewModel

<form asp-action="Filter" method="get">
    <div class="row form-row">
        <div class="col-sm-3 col-xs-12">
            <div class="form-group">
                @Html.DropDownListFor(
                    m => m.FilterType, 
                    Html.GetEnumSelectList(typeof(TripFilterType)), 
                    new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="form-group">
                <div class="input-group date">
                    <div class="input-group-content">
                        <input type="text"
                               asp-for="DateFrom"
                               data-provide="datepicker"
                               data-date-format="mm/dd/yyyy"
                               class="form-control">
                        <label></label>
                    </div>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="form-group">
                <div class="input-group date">
                    <div class="input-group-content">
                        <input type="text"
                               asp-for="DateTo"
                               data-provide="datepicker"
                               data-date-format="mm/dd/yyyy"
                               class="form-control">
                        <label></label>
                    </div>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <input type="submit" value="Filter" class="btn btn-sm btn-default" />
            <a class="btn btn-sm btn-default" asp-action="List">Reset</a>
        </div>
    </div>
</form>