@using Web.Authentication

<header id="header">
    <div class="headerbar">
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a asp-action="Index" asp-controller="Home">
                            <span class="text-lg text-bold text-primary">Going Places</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="headerbar-right">
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <img src="~/dist/assets/images/profile_pic.png" />
                        <span class="profile-info">
                            @User.GetFirstName() @User.GetLastName()
                        </span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-user"></i>&nbsp;My profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a asp-controller="Account" asp-action="Logout">
                                <i class="fa fa-fw fa-power-off text-danger"></i>&nbsp;Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>



