<div class="menubar-scroll-panel">
    <ul id="main-menu" class="gui-controls gui-controls-tree">
        <li><small>DIVIDER</small></li>
        <li>
            <a href="#" class="active">
                <div class="gui-icon"><i class="fa fa-home"></i></div>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="gui-icon"><i class="fa fa-dashboard"></i></div>
                <span class="title">Dashboard</span>
            </a>
        </li>
        ...
    </ul>
</div>