<nav class="page-sidebar" data-pages="sidebar">
    <div class="sidebar-header"></div>
    <div class="sidebar-menu">
        <ul class="menu-items">
            <li class="m-t-30 ">
                <a asp-controller="Tenant" asp-action="List" class="detailed">
                    <span class="title">Tenants</span>
                </a>
            </li>
            <li class="">
                <a asp-controller="User" asp-action="List" class="detailed">
                    <span class="title">User Accounts</span>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</nav>